* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3f007f;
    color: white;
    padding: 10px 20px;
}

.header .version {
    font-size: 1.2em;
}

.header .logout {
    background-color: #ff0000;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

.container {
    display: flex;
}

.sidebar {
    width: 20%;
    background-color: #dddddd;
    padding: 20px;
}
.sidebar a {
    color: #000000;
    text-decoration: none;
    
}


.profile {
    text-align: center;
    margin-bottom: 20px;
}

.profile-pic {
    width: 100px;
    height: 100px;
    background-color: #b5b5b5;
    border-radius: 50%;
    margin: 0 auto 10px;
}

.profile h2 {
    font-size: 1.2em;
}

.profile p {
    font-size: 1em;
    color: #666;
    margin-bottom: 20px;
}

.edit-profile {
    background-color: #ffcc00;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 10px;
    align-items: flex-end;
}

.menu {
    list-style-type: none;
    width: 100%;
}

.menu-item {
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
}

.menu-item:hover {
    background-color: #bcbcbc;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
}

.header h1 {
    margin: 0;
    margin-bottom: 20px;
}

.filters {
    margin-top: 20px;
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
    justify-content: center;
}

.filters select, .filters input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.upload-container {
    text-align: end;
}

.upload-button {
    align-items: center;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    color: white;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.upload-button:hover {
    background-color: #218838;
}

.upload-button .icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

input[type="file"] {
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table thead {
    background-color: #ffc107;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}
.filters-container {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding-bottom: 20px;
    background-color: #ffffff;
    width: 100%;
    margin-bottom: 10px;
}

.filters-header {
    display: flex;
    justify-content: space-between;
    background-color: #ffc107;
    padding: 10px;
    border-radius: 5px 5px 0 0;
}

.filters-header span {
    flex: 1;
    text-align: center;
    font-weight: bold;
}

.marg{
    padding-right: 5px;
}

.search-container {
    margin-top: 20px;
    display: flex;
    width: 30%;
}

.search-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
    width: 300px;
}

.search-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #870bbc;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #5b5b59;
}